nav.navbar: .container
	a(href="/"): h1.brand superglot
	ul.left
		if current_user.is_authenticated()
			li
				a(href=url_for('frontend.article_list'))= _("texts") | title
			li
				a(href=url_for('frontend.word_list_all'))= _("vocabulary") | title
			//- li
				a(href=url_for('frontend.word_list_all'))= _("study") | title
	ul.right
		if current_user.is_authenticated()
			li.dropdown
				a(href="#", data-toggle="dropdown").dropdown-toggle
					= current_user.email
					<span class="caret"></span>
				ul(role="menu").dropdown-menu
					li: a(href=url_for('user.settings'))= _("settings") | title
					li.divider
					li: a(href=url_for('auth.logout'))= _("log out") | title
		else
			li: a(href=url_for('auth.login'))= _("sign in") | title
			li: a(href=url_for('auth.register'))= _("sign up") | title