

mixin annotated_vocab_word(a_word, reading=None)
	if reading
		- var text = reading
	elif a_word.reading
		- var text = a_word.reading
	else
		- var text = a_word.word.lemma
	if a_word.rating > 0 and util.now() > a_word.srs_next_repetition
		li.word.due(data-lemma=a_word.word.lemma, data-rating=a_word.rating|int)
			//- div.due-marker
				//- = a_word.srs_next_repetition
			= text
	else
		li.word(data-lemma=a_word.word.lemma, data-rating=a_word.rating|int)
			= text
