extends layouts/base.jade

block main_content
	h1= _("vocabulary") | title

	.btn-toolbar(role="toolbar")
		.btn-group(data-toggle="buttons")
			label.btn.btn-default.active
				input(type="radio", name="display_type", checked)
				| Info
			label.btn.btn-default
				input(type="radio", name="display_type", checked)
				| Definitions
		.dropdown

	.vocab-stats

	for item in vocab
		li= item.word.lemma

	h2= _("add words?") | capitalize
	.row
		.col-sm-4
			h3 rating=1
			form(method="POST", action=url_for('frontend.vocab.add_words', rating=1))
				textarea(name="words", rows=7).form-control
				+form_submit('add/move words')
		.col-sm-4
			h3 rating=2
			form(method="POST", action=url_for('frontend.vocab.add_words', rating=2))
				textarea(name="words", rows=7).form-control
				+form_submit('add/move words')
		.col-sm-4
			h3 rating=3
			form(method="POST", action=url_for('frontend.vocab.add_words', rating=3))
				textarea(name="words", rows=7).form-control
				+form_submit('add/move words')
		.col-sm-12
			h3 ignored (-1)
			form(method="POST", action=url_for('frontend.vocab.add_words', rating=-1))
				textarea(name="words", rows=7).form-control
				+form_submit('add/move words')

	//- h2= _("known") | capitalize
	//- +vocab_list(vocab.known)

	//- h2= _("learning") | capitalize
	//- +vocab_list(vocab.learning)

	//- h2= _("ignored") | capitalize
	//- +vocab_list(vocab.ignored)