nav.navbar: .container
	a(href="/"): h1.brand superglot
	ul.left
		if current_user.is_authenticated()
			li
				a(href=url_for('frontend.article_list'))= _("texts")
				//- ul.subnav
				//- 	li: a(href=url_for('frontend.article_list')) list
				//- 	li: a(href=url_for('frontend.article_create')) new
			li
				a(href=url_for('frontend.word_list_all'))= _("vocabulary")
	ul.right
		if current_user.is_authenticated()
			li.dropdown
				a(href="#", data-toggle="dropdown").dropdown-toggle
					= current_user.email
					<span class="caret"></span>
				ul(role="menu").dropdown-menu
					li: a(href=url_for('user.settings'))= _("Settings")
					li.divider
					li: a(href=url_for('auth.logout'))= _("Log out")
		else
			li: a(href=url_for('auth.login'))= _("Sign In")
			li: a(href=url_for('auth.register'))= _("Sign Up")