extends _layout/base.jade

- from 'mixins.jade' import formfield, formsubmit

block main_content
	h1= doc.title
	h3 words
	p
		i #{sorted_words|length} total
	ul.inline-list.document-words.annotated-word-list
		for word in annotated_words
			li(data-group=word.group, data-lemma=word.word.lemma) #{word.word.reading}
	h3 raw
	pre= doc.plaintext


	:coffeescript
		$ ->
			$('.document-words li').click (e) ->
				$el = $(this)
				lemma = $el.data('lemma')
				group = $el.attr('data-group')
				if group == 'known'
					newGroup = 'learning'
				else
					newGroup = 'known'
				$.post '/api/user/words/update/', {
					lemma: lemma
					group: newGroup
				}, (data) ->
					if data
						$el.attr('data-group', newGroup)
						console.log newGroup
						