extends layouts/default.jade

block main_content
	.container
		h1.title= _('study') | title

		p #{ due_vocab | length } words need review

		a(href=url_for('study.words')).btn.btn-primary= _('Study now')

		//- p: a(href=url_for('study.sentences')) study sentences
		//- p: a(href=url_for('study.all')) study everything at once