doctype 5

html
	head
		title superglot
		link(rel="stylesheet", href="/static/build/main.css")
		link(rel="stylesheet", href="/static/fonts/fonts.css")
		script(src="/static/bower/jquery/dist/jquery.min.js")
	body
		.container
			block navbar
				nav.navbar
					if current_user.is_authenticated()
						p Hello #{current_user.email}
							a(href=url_for('auth.logout')) log out
					else
						p
							a(href=url_for('auth.login')) log in
							a(href=url_for('auth.register')) register
					p
						a(href=url_for('home')) home
						if current_user.is_authenticated()
							a(href=url_for('frontend.document_list')) list documents
							a(href=url_for('frontend.document_create')) add document
							a(href=url_for('frontend.word_list')) list words
				hr

			block messages
				- var messages = (flashes or []) + get_flashed_messages(with_categories=true)
				.container
					.messages
						for category, message in messages
							div(class="alert alert-dismissable alert-#{category}")
								button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
								= message

			block main_content

			block scripts

				script.
					document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':54739/livereload.js?snipver=1"></' + 'script>');