extends layouts/base.jade

- from 'mixins.jade' import form_field, form_submit

block main_content
	h1= doc.title
	h3 words
	p 
		i #{stats.total} total

	ul.inline-list.document-words.annotated-word-list
		.controls
			button.mark-all(data-group-label="known") Mark All Known
			button.mark-all(data-group-label="learning") Mark All Learning
			button.mark-all(data-group-label="") Unmark All
		for a_word in annotated_words
			li(data-group-label=a_word.label, data-lemma=a_word.word.lemma) #{a_word.word.reading}

	for o in doc.occurrences
		h4= o.word.reading
		ul
			for s in o.sentences
				li= doc.sentence(s)
	h3 raw
	pre= doc.plaintext
