extends layouts/base.jade

- from 'mixins.jade' import form_field, form_submit

block main_content

	form.article-search
		input.big-search-input(placeholder=_("search by name (TODO)")|capitalize)

	h1= _("texts") | title
		a(href=url_for('frontend.article_create')).btn.btn-primary.add-text-button + 
			= _("upload new") | title

	if doc_pairs|length > 0
		table.table
			thead
				tr
					th= _("title") | capitalize
					th= _("comprehension") | capitalize
					th= _("total") | capitalize
					th= _("known") | capitalize
					th= _("learning") | capitalize
					th 
					th 
						//- Action
			tbody
				for doc, stats in doc_pairs
					tr
						td
							a(href=url_for('frontend.article_read', doc_id=doc.id))= doc.title
							//- a(href=url_for('frontend.article_edit', doc_id=doc.id)) edit
						td
							+vocab_progress_bar(stats)
						td.align-center= stats.total
						td.align-center= "%2.0f%%"|format(stats.percents.known)
						td.align-center= "%2.0f%%"|format(stats.percents.learning)
						td
							if doc.source
								a(href=doc.source, target="_blank") 
									= _("original")
									|  &rarr;
						td
							a(href=url_for('frontend.article_delete', doc_id=doc.id)) &times;
	else
		.callout-notice
			h3= _("you have nothing to read!") | capitalize
			p
				a(href="#{ url_for('frontend.article_create') }")= _("go add some texts") | capitalize
				= _(", and they will show up here.")