- from 'mixins-collected.jade' import vocab_progress_bar

//- takes a list of (article, stats) tuples
mixin article_list_w_stats(article_pairs)

	include mixins-collected

	table.table
		thead
			tr
				th= _("title") | capitalize
				th= _("comprehension") | capitalize
				th= _("total") | capitalize
				th= _("known") | capitalize
				th= _("learning") | capitalize
				th
				th
					//- Action
		tbody
			for article, stats in article_pairs
				tr
					td
						a(href=url_for('frontend.articles.article_read', article_id=article.id))= article.title
						//- a(href=url_for('frontend.articles.article_edit', article_id=article.id)) edit
					td
						+vocab_progress_bar(stats)
					td.align-center= stats.total_significant
					td.align-center= "%2.0f%%"|format(stats.percents.known)
					td.align-center= "%2.0f%%"|format(stats.percents.learning)
					td
						if article.source
							a(href=article.source, target="_blank")
								= _("original")
								|  &rarr;
					td
						a(href=url_for('frontend.articles.article_delete', article_id=article.id)) &times;
