extends layouts/base.jade

block main_content
	h1= article.title
	if article.source
		a(href=article.source, target="_blank")
			= _("original")
			|  &rarr;
	h3 words
	p
		i #{stats.total} total

	.temp-info
		img.icon(src="/static/images/info-circled-alt.png")
		| When reading an article, you'll be able to either read a decent-looking annotated version here, or use the Chrome plugin to read it directly at its source with annotation.
		| From either place, you can interact with all words.

	ul.inline-list.annotated-words.style-a
		for v in article_vocab
			+annotated_vocab_word(v)

	.accordion
		h3.header raw text
		pre= article.plaintext

	.accordion
		h3.header Sample Sentences
		div
			for o in article.occurrences
				h4= o.word.reading
				ul
					for s in o.sentences
						li= article.sentence(s)
