extends layouts/default.jade

block main_content
	.container
		a(href=url_for('frontend.articles.article_list')) &larr; Back to list
		h1.title= article.title
		if article.source
			em
				!= _("from %(link)s", link='<a href="'+article.source+'", target="_blank">'+article.source+' &rarr;</a>')
		p
			i
				span.hovertip(title="\"Important\" = distinct, not-ignored words")
					| #{stats.total_significant} important
				|  words out of #{article_vocab_pairs | length} total

		ul.inline-list.annotated-words.style-a
			for vword, occurrence in article_vocab_pairs
				+annotated_vocab_word(vword, occurrence.reading, occurrence)

		div(style="display: none")
			.accordion
				h3.header raw text
				pre= article.plaintext

			.accordion
				h3.header Sample Sentences
				div
					for o in article.occurrences
						h4= o.word.reading
						ul
							for s in o.sentences
								li= article.sentence(s)
	if article_position
		script.
			var article_position = !{ article_position };
	else
		script.
			var article_position = null;
