//- takes a list of (article, stats) tuples
mixin article_list_w_stats(article_pairs)

	table.table
		thead
			tr
				th= _("title") | capitalize
				th= _("comprehension") | capitalize
				th= _("total") | capitalize
				for i in [3,2,1]
					th= i
				th
				th
					//- Action
		tbody
			for article, stats in article_pairs
				tr
					td
						a(href=url_for('frontend.articles.article_read', article_id=article.id))= article.title
						//- a(href=url_for('frontend.articles.article_edit', article_id=article.id)) edit
					td
						+vocab_progress_bar(stats)
					td.align-center= stats.total
					for i in [3,2,1]
						td.align-center= "%2.0f%%"|format(stats.percents[i])
					td
						if article.source
							a(href=article.source, target="_blank")
								= _("original")
								|  &rarr;
					td
						a(href=url_for('frontend.articles.article_delete', article_id=article.id)) &times;
