extends layouts/base.jade

- from 'mixins.jade' import formfield, formsubmit

block main_content
	h1= doc.title
	h3 words
	p 
		i #{stats.total} total
	ul.inline-list.document-words.annotated-word-list
		for a_word in annotated_words
			li(data-group=a_word.group, data-lemma=a_word.word.lemma) #{a_word.word.reading}

	for o in doc.occurrences
		h4= o.word.reading
		ul
			for s in o.sentences
				li= doc.sentence(s)
	h3 raw
	pre= doc.plaintext

	:coffeescript
		$ ->
			$('.document-words li').click (e) ->
				$el = $(this)
				if $el.attr('data-group') == 'ignored'
					return false
				lemma = $el.data('lemma')
				group = $el.attr('data-group')
				if group == 'known'
					newGroup = 'learning'
				else
					newGroup = 'known'
				$.post '/api/user/words/update/', {
					lemma: lemma
					group: newGroup
				}, (data) ->
					if data
						$("[data-lemma='"+lemma+ "']").attr('data-group', newGroup)