extends layouts/base.jade

block main_content
	h1= _("Vocabulary")

	.vocab-stats
		p= _("You know %(num)d words", num=words.known|length)
		p= _("You are learning %(num)d words", num=words.learning|length)

	h2= _("add words?")
	.row
		.col-sm-4
			h3= _("known")
			form(method="POST", action=url_for('frontend.add_words', partition='known'))
				textarea(name="words", rows=7).form-control
				+formsubmit('add/move words')
		.col-sm-4
			h3= _("learning")
			form(method="POST", action=url_for('frontend.add_words', partition='learning'))
				textarea(name="words", rows=7).form-control
				+formsubmit('add/move words')
		.col-sm-4
			h3= _("ignored")
			form(method="POST", action=url_for('frontend.add_words', partition='ignored'))
				textarea(name="words", rows=7).form-control
				+formsubmit('add/move words')

	h2= _("known")
	+vocab_list(words.known)
			
	h2= _("learning")
	+vocab_list(words.learning)
					
	h2= _("ignored")
	+vocab_list(words.ignored)